@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.navbar-logo, .navbar-menu, .navbar-menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background: #f7f7f7;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) /2);
  z-index: 10;
  position: relative;
}

.navbar-logo {
  color: #222121;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 24px;
}

.navbar-bar {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 30px;
    right: 20px;
  }
}

.navbar-menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
}

.navbar-menu-link {
  color: #222121;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar-menu-link:hover {
  color: #00cc66;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar-menu #button {
  padding: 10px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
}

.navbar-menu #button:hover {
  background-color: #fb4b4e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

.hero {
  background: #f7f7f7;
}

.hero-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 100%;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 768px) {
  .hero-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
  }
}

.hero-container-left {
  width: 100%;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .hero-container-left {
    padding: 5rem 0;
  }
}

@media screen and (max-width: 280px) {
  .hero-container-left {
    line-height: 1.5;
  }
}

.hero-container-left h1 {
  font-size: 4rem;
  color: #00cc66;
}

@media screen and (max-width: 280px) {
  .hero-container-left h1 {
    font-size: 1.5rem;
  }
}

.hero-container-left h1 .hero-span {
  font-size: 3rem;
  color: #222121;
}

@media screen and (max-width: 280px) {
  .hero-container-left h1 .hero-span {
    font-size: 2rem;
  }
}

.hero-container-left p {
  margin-top: 1rem;
  color: #222121;
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 280px) {
  .hero-container-left p {
    font-size: 1.5rem;
  }
}

.hero-container-btn {
  font-size: 1rem;
  background: #00cc66;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #f7f7f7;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
}

.hero-container-btn a {
  position: relative;
  z-index: 2;
  color: #f7f7f7;
  text-decoration: none;
}

.hero-container-btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fb4b4e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.hero-container-btn:hover:after {
  width: 100%;
}

.hero-container-right {
  text-align: center;
}

.hero-container-img {
  width: 29vw;
}

@media screen and (max-width: 768px) {
  .hero-container-img {
    margin-left: 0;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 280px) {
  .hero-container-img {
    margin-left: 0;
    height: 100%;
    width: 100%;
  }
}

.about {
  background: #f7f7f7;
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 100%;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-top: 100px;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 768px) {
  .about-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
  }
}

.about-container-left {
  width: 100%;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .about-container-left {
    padding: 5rem 0;
  }
}

@media screen and (max-width: 280px) {
  .about-container-left {
    line-height: 1.5;
  }
}

.about-container-left h1 {
  text-align: center;
}

.about-container-img {
  margin-top: -1.5em;
  width: 10vw;
}

@media screen and (max-width: 768px) {
  .about-container-img {
    margin-left: 5rem;
    padding-top: 5em;
    width: 50%;
  }
}

@media screen and (max-width: 280px) {
  .about-container-img {
    margin-left: 5rem;
    width: 50%;
  }
}

.about-container-right {
  padding-top: 7em;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .about-container-right {
    padding: 5rem 0;
  }
}

@media screen and (max-width: 280px) {
  .about-container-right {
    line-height: 1.5;
  }
}

.about-container ol {
  list-style: none;
  color: #e0501b;
}

.about-container ol li {
  font-size: 34px;
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}

.about-container li p {
  font-size: 16px;
  color: #000;
  padding-left: 60px;
  line-height: 30px;
  opacity: 0.6;
}

.about-container li span {
  position: absolute;
  line-height: 25px;
  font-weight: 600;
}
/*# sourceMappingURL=styles.css.map */